{% extends 'index2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h3 style="text-align: center;">{{title}}</h3>
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year One Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed
                                                </li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr1' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 1 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr1' %}" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year Two Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed
                                                </li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr2' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 2 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr2' %}" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year Three Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed
                                                </li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr3' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 3 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr3' %}" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year Four Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed
                                                </li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr4' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 4 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr4' %}" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year Five Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed
                                                </li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr5' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 5 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr5' %}" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year Six Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed
                                                </li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr6' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 6 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr6' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                            <div class="card bg-light d-flex flex-fill">
                                <div class="card-body pt-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <h2 class="lead"><b>Year Seven Retakes</b></h2>
                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                <li class="small"><span class="fa-li"><i
                                                            class="fas fa-lg fa-building"></i></span> Units: All Units Failed</li>
                                                <li class="small">
                                            </ul>
                                        </div>
                                        <div class="col-5 text-center">
                                            <img src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user-avatar"
                                                class="img-circle img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="text-right">
                                        <a href="{% url 'school:my_registered_resits_yr7' %}" class="btn btn-sm btn-primary">
                                            <i class="fas fa-user"></i> View Year 7 Retakes
                                        </a><br>
                                        <a href="{% url 'school:my_registered_resits_yr7' %}" class="btn btn-sm btn-success">
                                            <i class="fas fa-user"></i> Retake/Resit Card
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
{% endblock content %}