{% extends 'index2.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            {% include 'messages.html' %}
            <h3 class="card-title">{{title}}</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="users" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th> COUNTER </th>
                  <th> USER NAME </th>
                  <th> EMAIL </th>
                  <th> FIRST NAME </th>
                  <th> MIDDLE NAME </th>
                  <th> LAST NAME </th>
                  <th> IS ADMIN </th>
                  <th> IS STUDENT </th>
                  <th> IS LECTURER </th>
                  <th> IS SUPPLIER </th>
                  <th> IS NON-STAFF </th>
                </tr>
              </thead>
              <tbody>
                {% for instance in queryset %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{instance.username}}</td>
                  <td>{{instance.email}}</td>
                  <td>{{instance.first_name}}</td>
                  <td>{{instance.middle_name}}</td>
                  <td>{{instance.last_name}}</td>
                  <td>{{instance.is_admin}}</td>
                  <td>{{instance.is_student}}</td>
                  <td>{{instance.is_lecturer}}</td>
                  <td>{{instance.is_supplier}}</td>
                  <td>{{instance.is_non_staff}}</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th> COUNTER </th>
                  <th> USER NAME </th>
                  <th> EMAIL </th>
                  <th> FIRST NAME </th>
                  <th> MIDDLE NAME </th>
                  <th> LAST NAME </th>
                  <th> IS ADMIN </th>
                  <th> IS STUDENT </th>
                  <th> IS LECTURER </th>
                  <th> IS SUPPLIER </th>
                  <th> IS NON-STAFF </th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock content %}