{% extends 'index2.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            {% include 'messages.html' %}
            <h3 class="card-title">{{title}}</h3><br>
            <a href="{% url 'school:my_resit_year_page' %}" class="btn btn-sm btn-primary">
              <i class=""></i> Year Page
            </a>
          </div>
          <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'school:resit_reg_year2' %}" class="btn btn-primary">Add New Retake Units</a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="faculty" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>COUNTER</th>
                  <th>STAGE</th>
                  <th>UNIT NAME</th>
                  <th>UNREGISTER</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in queryset %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{instance.stage}}</td>
                  <td>{{instance.unit_name}}</td>
                  <td><a class="fa fa-trash" href="{% url 'school:unregister_resit_yr2' instance.id%}">Unregister
                    Unit</a></td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>COUNTER</th>
                  <th>STAGE</th>
                  <th>UNIT NAME</th>
                  <th>UNREGISTER</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock content %}