<head>
  <style type="text/css">
    @page {
     size: a4 landscape;
           margin: 1.0cm;
       }

       body {
           font-size: 10pt;
       }

       table {
           border-collapse: collapse;
       }

       table,
       th,
       td,
       tr,{
         word-wrap:break-word;
         table-layout:fixed;
         border: 1px solid black;
         margin-top: 50%;
         text-align: center;
         padding: 8px;
       }

       .wrap {
           width: 50%;

       }

       .left_col {
           float: left;
           width: 48.4%;
       }

       .right_col {
           float: right;
           width: 50%;
       }
  </style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
        <h3>SCHOOL FEE STRUCTURE</h3>
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">(c) - page <pdf:pagenumber>
            of <pdf:pagecount>
    </div>

    <!-- <P>Page Content</P> -->
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="fee_structure" class="table table-bordered">
                  {% for instance in queryset %}
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: large;font-weight: bolder;">{{school}}</th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: large; font-weight: bold;">{{box}}</th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: large; font-style: italic; text-decoration: underline;">Tel:
                      {{tel}} &nbsp;&nbsp; Email:{{email}}</th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: large; font-weight: bold;">FEE STRUCTURE</th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: large; font-weight: bold;">{{instance.program}}</th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: center; font-size: large; font-weight: bold;">{{instance.stage}}</th>
                  </tr>
                  <tr>
                    <th colspan="2" style="text-align: right; font-size: small;">{{date_downloaded}}</th>
                  </tr>
                  <tr>
                    <th>EXAMS:</th>
                    <td>{{instance.exams}}</td>
                  </tr>
                  <tr>
                    <th>CO-OCURRICULAR ACTIVITIES</th>
                    <td>{{instance.co_ocurricular_activities}}</td>
                  </tr>
                  <tr>
                    <th>HOSTEL CHARGES</th>
                    <td>{{instance.hostel_charges}}</td>
                  </tr>
                  <tr>
                    <th>LIBRARY CHARGES</th>
                    <td>{{instance.library_charges}}</td>
                  </tr>
                  <tr>
                    <th>INTERNET CHARGES</th>
                    <td>{{instance.internet_charges}}</td>
                  </tr>
                  <tr>
                    <th>ELECTRICITY CHARGES</th>
                    <td>{{instance.electricity_charges}}</td>
                  </tr>
                  <tr>
                    <th>FOOD CHARGES</th>
                    <td>{{instance.food_charges}}</td>
                  </tr>
                  <tr>
                    <th>FURNITURE CHARGES</th>
                    <td>{{instance.furniture_charges}}</td>
                  </tr>
                  <tr>
                    <th>WATER CHARGES</th>
                    <td>{{instance.water_charges}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

</body>

</html>