{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Graham School</title>

  {% include './scripts/head.html' %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  {% include './components/preloader.html' %}
  {% include './components/navbar.html' %}
  {% include './components/sidebar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    {% include './components/main-content.html' %}
    {% if request.user.is_authenticated %}
      {% if request.user.is_admin %}
        {% include './components/admin-content.html' %}
      {% endif %}
      {% if request.user.is_student %}
        {% include './components/students-content.html' %}
      {% endif %}
      {% if request.user.is_lecturer %}
        {% include './components/lecturer-content.html' %}
      {% endif %}
      {% if request.user.is_supplier %}
        {% include './components/supplier-content.html' %}
      {% endif %}
      {% if request.user.is_non_staff %}
        {% include './components/non_staff-content.html' %}
      {% endif %}
    {% endif %}
  </div>
  <!-- /.content-wrapper -->
  {% include './components/footer.html' %}
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% include './scripts/js.html' %}
</body>
</html>
