{% load static %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
          </span>{{title1}}
        </h3>
        <nav aria-label="breadcrumb">
          <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <span></span>Profile Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
          </ul>
        </nav>
      </div>
      {% if my_queryset %}
      {% for instance in my_queryset %}
        <div class="row">
          <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
              <div class="card-body">
                <img src="{% static 'dash/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Fee Billed <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Ksh {{instance.total_fees_billed}}</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
              <div class="card-body">
                <img src="{% static 'dash/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Total Fee Paid <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Ksh {{instance.total_fees_paid}}</h2>
              </div>
            </div>
          </div>
          <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
              <div class="card-body">
                <img src="{% static 'dash/assets/images/dashboard/circle.svg' %}" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Fee Balance <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">Ksh {{instance.balance}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="clearfix">
                  <h4 class="card-title" style="text-align: center;">Profile Photo</h4>
                  <div>
                    <img src="{{instance.profile_photo.url}}" alt="profile" style="border-radius: 50%;" width="200" height="200">
                    <span class="login-status online"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 grid-margin stretch-card table-responsive">
            <div class="card">
              <div class="card-body">
                <table class="table table-striped">
                  <tbody>
                    <tr><th>Programme:</th><td>{{instance.programme}}</td></tr>
                    <tr><th>Username:</th><td>{{request.user}}</td></tr>
                    <tr><th>Email:</th><td>{{request.user.email}}</td></tr>
                    <tr><th>Name:</th><td>{{request.user.get_full_name}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">My Profile</h4>
                <a type="button" class="btn btn-gradient-success btn-icon-text btn-rounded" href="{% url 'school:edit-students' instance.id%}"> Edit 
                  <i class="mdi mdi-file-check btn-icon-append"></i>
                </a><br>
                <br>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <tr><th>Admission Number:</th><td>{{instance.admission_no}}</td></tr>
                      <tr><th>Full Name:</th><td>{{instance.full_name}}</td></tr>
                      <tr><th>Nationality:</th><td>{{instance.nationality}}</td></tr>
                      <tr><th>Gender:</th><td>{{instance.stud_gender}}</td></tr>
                      <tr><th>National ID Number:</th><td>{{instance.national_ID_number}}</td></tr>
                      <tr><th>Birth Cert NO:</th><td>{{instance.birth_cert_no}}</td></tr>
                      <tr><th>Phone NO:</th><td>{{instance.phone_number}}</td></tr>
                      <tr><th>Date Of Birth:</th><td>{{instance.DOB}}</td></tr>
                      <tr><th>Date Of Admission:</th><td>{{instance.date_of_admission}}</td></tr>
                      <tr><th>Graduation Date:</th><td>{{instance.date_of_graduation}}</td></tr>
                      <tr><th>My Course:</th><td>{{instance.programme}}</td></tr>
                      <tr><th>Stage/Class:</th><td>{{instance.stage}}</td></tr>
                      <tr><th>Profile Photo:</th><td>{{instance.profile_photo.url}}</td></tr>
                      <tr><th>Home Address:</th><td>{{instance.postal_address}}</td></tr>
                      <tr><th>School Email:</th><td>{{instance.school_email}}</td></tr>
                      <tr><th>School Email Password:</th><td>{{instance.school_email_password}}</td></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}
      
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Performance Chart</h4>
              <a type="button" class="btn btn-gradient-info btn-icon-text btn-rounded"> View <i class="mdi mdi-file-check btn-icon-append"></i>
              </a>
              <div class="table-responsive">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Recent Updates</h4>
              <div class="d-flex">
                <div class="d-flex align-items-center me-4 text-muted font-weight-light">
                  <i class="mdi mdi-account-outline icon-sm me-2"></i>
                  <span>jack Menqu</span>
                </div>
                <div class="d-flex align-items-center text-muted font-weight-light">
                  <i class="mdi mdi-clock icon-sm me-2"></i>
                  <span>October 3rd, 2018</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Project Status</h4>
              <div class="table-responsive">

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title text-white">Todo</h4>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
      <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © graham218 2022</span>
        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> New<a href="grahambill011@gmail.com" target="_blank">School Management System</a> by Bill Graham a Maseno University Student</span>
      </div>
    </footer>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->