{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
    {% endfor %}
{% endif %}