{% extends 'index2.html' %}
{% load static %}
{% block content %}
<div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{title}}</h4>
        <p class="card-description"></p>
        {% include 'messages.html' %}
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
              <div class="col-lg-10 mx-auto">
                <div class="auth-form-light text-left p-5">
                  <form class="pt-3" method="post" action="">
                      {% csrf_token %}
                      <fieldset>
                        {% csrf_token %}
        
                        {% for fm in form %}
                            <div class="form-group">
                                {{fm.label_tag}}
                                {{fm}}
                                <small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                        {% endfor %}
                        <div class="mt-3">
                          <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Search Programmes</button>
                        </div>
                        
                      </fieldset>
                      {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger alert-dismissible fade show" role="alert" my-3">
                                {{error}}
                            </p>
                        {% endfor %}
                      {% endif %}
                      
                  </form>
                </div>
              </div>
            </div>
          </div>
        <div class="col-lg-12 table-responsive fixed-table-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> COUNTER </th>
                <th> USERNAME </th>
                <th> STUDENT NAME </th>
                <th> STAGE </th>
                <th> UNIT NAME </th>
                <th> MARKS </th>
                <th> GRADE </th>
                <th> DATE REAGISTERED </th>
                <th> DATE UPDATED </th>
                <th>UPDATE MARKS</th>
                <th>DELETE</th>
              </tr>
            </thead>
            <tbody>
              {% for instance in queryset %}
              <tr>
                  <td class="py-1">{{forloop.counter}}</td>
                  <td>{{instance.user}}</td>
                  <td>{{instance.full_name}}</td>
                  <td>{{instance.stage}}</td>
                  <td>{{instance.unit_or_subject_name}}</td>
                  <td>{{instance.marks}}</td>
                  <td>{{instance.grade}}</td>
                  <td>{{instance.date_created}}</td>
                  <td>{{instance.date_updated}}</td>
                  <td><a class="mdi mdi-stack-overflow" href="{% url 'school:unregister_unit' instance.id%}">Update Marks</a></td>
                  <td><a class="mdi mdi-delete-forever" href="{% url 'school:unregister_unit' instance.id%}">Delete REG</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}