{% load static %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    {% if lec_queryset %}
    {% for instance in lec_queryset %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h4>Ksh: {{instance.total_salary_billed}}</h4>
            <p>Total Salary Billed</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="/" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h4>Ksh: {{instance.total_salary_paid}}</h4>
            <p>Total Salary Paid</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h4>Ksh: {{instance.balance}}</h4>
            <p>Salary Balance</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h4>00.00</h4>
            <p>Other Payments</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <section class="col-sm-5 connectedSortable">
        <!-- user information -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Profile Photo</h3>
          </div>
          <div class="card-body">
            <div class="profile_photo">
              <img {% if request.user.profile_photo %}src="{{request.user.profile_photo.url}}" {% else %}src="{% static 'dist/img/user2-160x160.jpg' %}" {% endif %} alt="profile_pic">
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              School Badge
            </h3>
          </div>
          <div class="card-body">
            <div class="school_badge">
              <img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="school_badge">
            </div>
          </div>
        </div>
      </section>
      <section class="col-lg-7 connectedSortable">
        <div class="card bg-gradient-success">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-user"></i>
              Lecturer's Information
            </h3>
          </div>
          <div class="card-body">
            <table class="table table-border">
              <tr>
                <th>Name: </th><td>{{instance.full_name}}</td>
              </tr>
              <tr>
                <th>Lec No: </th><td>{{instance.lec_no}}</td>
              </tr>
              <tr>
                <th>Nationality: </th><td>{{instance.nationality}}</td>
              </tr>
              <tr>
                <th>Gender: </th><td>{{instance.lec_gender}}</td>
              </tr>
              <tr>
                <th>Phone No: </th><td>{{instance.phone_number}}</td>
              </tr>
              <tr>
                <th>Date Of Birth: </th><td>{{instance.DOB}}</td>
              </tr>
              <tr>
                <th>Home Adress: </th><td>{{instance.postal_address}}</td>
              </tr>
              <tr>
                <th>School Email: </th><td>{{instance.school_email}}</td>
              </tr>
              <tr>
                <th>School Email Password: </th><td>{{instance.school_email_password}}</td>
              </tr>
            </table>
          </div>
        </div>
      </section>
    </div>
    {% endfor %}
    {% else %}
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          Click to create your profile
        </h3>
      </div>
      <div class="card-body">
        <div>
          <a href="{% url 'school:create_lecturer_profile' %}" class="btn btn-info"> Create User Profile</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</section>