{% extends 'index2.html' %}
{% load static %}
{% block content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Year 1 Resit/Retake Card</h3><br>
            <a href="{% url 'school:my_resit_year_page' %}" class="btn btn-sm btn-primary">
              <i class=""></i> Year Page
            </a>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="resit_card_yr1" class="table table-bordered">
              <thead>
                <tr>
                  <h2 style="text-align: center; font-size: large;font-weight: bolder;">{{school}}</h2>
                  <h2 style="text-align: center; font-size: large; font-weight: bold;">{{box}}</h2>
                  <h3 style="text-align: center; font-size: large; font-style: italic; text-decoration: underline;">Tel:
                    {{tel}} &nbsp;&nbsp; Email:{{email}}</h3>
                  <h4 style="text-align: right; font-size: small;">{{date_downloaded}}</h4>
                  <h4 style="text-align: left; font-size: large;">NAME: {{request.user.first_name}}
                    {{request.user.middle_name}} {{request.user.last_name}}</h4>
                  <h4 style="text-align: left; font-size: small;">Year 1 Resit/Retake Card</h4>
                </tr>

                <tr>
                  <th>COUNTER</th>
                  <th>UNIT NAME</th>
                  <th>LECTURER'S SIGNATURE</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in queryset %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{instance.unit_or_subject_name}}</td>
                  <td>____________________</td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>COUNTER</th>
                  <th>UNIT NAME</th>
                  <th>LECTURER'S SIGNATURE</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
{% endblock content %}