{% extends 'index2.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          {% include 'messages.html' %}
          <h4 class="card-title">{{title}}</h4>
          <div class="table-responsive">
            {% for instance in queryset %}
            <div class="row">
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="clearfix">
                      <h4 class="card-title float-left">{{forloop.counter}}</h4>
                      <h4 class="card-title float-left">{{instance.written_by}}</h4>
                      <h4 class="card-title float-left">{{instance.full_name}}</h4>
                      <a href="{% url 'school:delete_notice' instance.id %}" class="mdi mdi-delete-forever">Delete</a>
                      <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <h4 class="card-title float-left">{{instance.notice}}</h4>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}