{% extends 'index2.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          {% include 'messages.html' %}
          <h4 class="card-title">{{title}}</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Counter</th>
                  <th>Gender</th>
                  <th>Update</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for instance in queryset %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{instance.full_name}}</td>
                        <td>{{instance.stage}}</td>
                        <td>{{instance.course}}</td>
                        <td>{{instance.seat}}</td>
                        <td>{{instance.votes}}</td>
                        <td>{{instance.position}}</td>
                        <td>{{instance.status}}</td>
                        <td>{{instance.created_at}}</td>
                        <td>{{instance.updated_at}}</td>
                        <td><a href="{% url 'school:edit_polititian' instance.id%}" class="mdi mdi-stack-overflow">Update</a><td>
                        <td><a href="{% url 'school:delete_polititian' instance.id%}" class="mdi mdi-delete-forever">Delete</a><td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}