{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper d-flex align-items-center auth">
  <div class="row flex-grow">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left p-5">
        <div class="brand-logo">
          <img src="{% static 'dash/assets/images/logo.svg' %}">
        </div>
        <h4>User Login</h4>
        <h6 class="font-weight-light">Sign in to continue.</h6>
        <form method="post" action="">
          <fieldset>
            {% csrf_token %}

            {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}}
                    {{fm}}
                    <small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
            {% endfor %}
            <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Login</button>
          </fieldset>

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">
                    {{error}}
                    <div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    <div>
                </p>
            {% endfor %}
          {% endif %}
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input"> Keep me signed in </label>
            </div>
            <a href="{% url 'password-reset' %}" class="auth-link text-black">Forgot password?</a>
          </div>
          <div class="mb-2">
            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
              <i class="mdi mdi-facebook me-2"></i>Connect using facebook </button>
          </div>
          <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
{% endblock content %}