{% load static %}

<div class="content-wrapper d-flex align-items-center auth">
  <div class="row flex-grow">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left p-5">
        <h4>User Login</h4>
        <h6 class="font-weight-light">Sign in to continue.</h6>
        <form method="post" action="">
          <fieldset>
            {% csrf_token %}

            {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}}
                    {{fm}}
                    <small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
            {% endfor %}
            <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit">Login</button>
          </fieldset>

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">
                    {{error}}
                    <div>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                    <div>
                </p>
            {% endfor %}
          {% endif %}
          <div class="my-2 d-flex justify-content-between align-items-center">
            <div class="form-check">
              <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input"> Keep me signed in </label>
            </div>
            <a href="{% url 'password-reset' %}" class="auth-link text-black">Forgot password?</a>
          </div>
          <div class="text-center mt-4 font-weight-light"> Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>User Login</title>
  {% include './scripts/login-head.html' %}
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1">User Login</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{form|crispy}}
        </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="/">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="/" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->

{% include './scripts/login-js.html' %}
</body>
</html>