{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Reset Complete</title>
  {% include '../scripts/login-head.html' %}
</head>
<body class="hold-transition login-page">
  <div class="container py-5">
    <div class="col-md-8 offset-2">

    {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}
    
    
    <div class="card mb-4" id="forms">
      
      <div class="card-body">
       
        <h1>New Password Set Successfully.</h1>
        
        <div class="text-center">
          Let's <a href="{% url 'login' %}"> Login.</a>
        </div>
        
      </div>
    </div>

    </div>       
  </div>

{% include '../scripts/login-js.html' %}
</body>
</html>