{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Change Done</title>
  {% include '../scripts/login-head.html' %}
</head>

<body class="">
  <br><br><br><br><br><br><br><br>
  <div class="container">
    <div class="col-sm-12">

      {% comment %} <h1>Password Changed</h1> {% endcomment %}


      <div class="card">

        <div class="card-body">

          <h1 class="text-center">Your password has been changed successfully.</h1>

          <div class="text-center">
            Let's <a href="{% url 'home' %}"> go to Home Page.</a>
          </div>

        </div>
      </div>

    </div>
  </div>

  {% include '../scripts/login-js.html' %}
</body>

</html>