{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Password Reset</title>
  {% include '../scripts/login-head.html' %}
</head>
<body class="hold-transition login-page" style="background-image: url('{% static "images/renato-pozzi-G4oGYy_ZcsQ-unsplash.jpg" %}');" id="bg">
<br><br><br><br><br><br>
  <div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="#" class="h1">Password Reset</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Add your Email Address to get password reset link.</p>
      {% include 'messages.html' %}
      <form action="" method="post">
        {% csrf_token %}
        <div>
          {{form|crispy}}
        </div>
          <br>
          <div>
            <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% include '../scripts/login-js.html' %}
</body>
</html>